body {
    background-color: black;
    color: white;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

h1, h4 {
    text-align: center;
}

h1 {
    font-style: italic;
    text-decoration: underline;
}

/*change image size, hard coding, media screen sizes*/


