body {
    background-color: black;
    background-image: url("shoecoll.jpeg");
    color: white;
}

div {
    background-color: black;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.top {
    font-size: 40px;
    color: #80ffc0;
}

h1, h4 {
    text-align: center;
}

h1 {
    font-style: italic;
    text-decoration: underline;
}

footer {
    color: black;
    font-size: 25px;
    padding: 10px;
    text-align: center;
}


